
<!--加载页面的遮罩层-->
<div class="overlay">
    <img src="/public/images/loading.gif" alt="">
</div>


<div class="aside">
    <!-- 个人资料 -->
    <div class="profile">
        <!--在common中使用模板引擎，然后加到aside中，所有的页面就都有了-->
        <!-- 头像 -->

    </div>
    <!-- 导航菜单 -->
    <div class="navs">
        <ul class="list-unstyled">
            <li>
                <!--这里的跳转路径在index.php中做了统一制定，都是view路径下的，输入的路径截取/之后再加.html-->
                <a href="/index/index">
                    <i class="fa fa-home"></i>
                    仪表盘
                </a>
            </li>

            <li>
                <a href="/teacher/teacher_list">
                    <i class="fa fa-bell"></i>
                    讲师管理
                </a>
            </li>
            <li>
                <a href="/user/user_list">
                    <i class="fa fa-bell"></i>
                    分类管理
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="fa fa-cog"></i>
                    课程管理
                    <i class="arrow fa fa-angle-right"></i>
                </a>
                <ul class="list-unstyled">
                    <li>
                        <a href="/course/course_add">
                            课程添加
                        </a>
                    </li>
                    <li>
                        <a href="/course/course_list">
                            课程列表
                        </a>
                    </li>
                    <!--<li>-->
                        <!--<a href="./course_category.html">-->
                            <!--课程分类-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="./course_topic.html">-->
                            <!--课程专题-->
                        <!--</a>-->
                    <!--</li>-->
                </ul>
            </li>


        </ul>
    </div>
</div>